[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;application/octet-stream;
Actions=C;S;CS;CX;CXS;
#X-KDE-Priority=Actions
X-KDE-Priority=TopLevel
X-KDE-Submenu=Compare

[Desktop Action C]
Name=Compare
Icon=meld
Exec=meld_compare %U

[Desktop Action S]
Name=Save to compare later
Icon=meld
Exec=meld_compare -s %U

[Desktop Action CS]
Name=Compare to saved
Icon=meld
Exec=meld_compare -r %U

[Desktop Action CX]
Name=Compare hex
Icon=meld
Exec=meld_compare -x %U

[Desktop Action CXS]
Name=Compare hex to saved
Icon=meld
Exec=meld_compare -x -r %U
